[attr]keysub	ident export-subst

.git*	export-ignore

*.c	keysub
*.h	keysub
*.cpp	keysub
*.dtd	keysub
*.l	keysub
*.m	keysub
*.pod	keysub
*.sh	keysub
*.tex	keysub
*.tsv	keysub
*.txt	keysub
*.xml	keysub
*.xsl	keysub
*.y	keysub
Makefile	keysub
README	keysub

# *.eps	keysub
# *.php	keysub
# *.pl	keysub
# *.pm	keysub
# *.ps	keysub

*.gz	binary
*.pdf	binary
*.tgz	binary
